<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <a mat-button>
      Test
      <mat-icon>arrow_left</mat-icon>
    </a>
    <a mat-button>
      Test
      <mat-icon>view_agenda</mat-icon>
    </a>
    <a mat-button>
      Test
      <mat-icon>play_arrow</mat-icon>
    </a>
    <a mat-button>
      Test
      <div class="arrow arrow-left"></div>
    </a>
    <a mat-button>
      Test
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <form class="example-form-container grid grid-auto-350" #form="ngForm">
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Imię" [(ngModel)]="hero.name" required="required" [minLength]="3"
               name="name" #name="ngModel">
        <mat-error *ngIf="name.errors?.required">Pole jest wymagane</mat-error>
      </mat-form-field>
      <app-base-input></app-base-input>
      <app-base-input></app-base-input>
      <app-base-input></app-base-input>
      <mat-form-field appearance="outline">
        <input type="email" matInput placeholder="Nazwisko">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Miasto" [formControl]="mailControl">
        <mat-error *ngIf="mailControl.hasError('required')">Tak!</mat-error>
        <mat-error *ngIf="mailControl.hasError('minLength')">Nie!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="number" matInput placeholder="Ulica">
      </mat-form-field>
      <mat-checkbox>Zapisz się do newslettera</mat-checkbox>
      <mat-checkbox labelPosition="before">Zgadzam się na warunki</mat-checkbox>
      <mat-checkbox>Zapisz mnie na spam bo chcę odbierać</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="color" matInput placeholder="Kolor budynku">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="datetime-local" matInput placeholder="Data płatności">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="Select">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
          <mat-option value="option4">Option4</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
          <mat-option value="option4">Option4</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button (click)="test()" [disabled]="!form.form.valid">Zapisz</button>
    </form>
    <app-tree-view></app-tree-view>
  </mat-sidenav-content>
</mat-sidenav-container>
